<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458310306952-84f4p5j3l18v9po326v1bg61g9vb1vtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458310306952-84f4p5j3l18v9po326v1bg61g9vb1vtm</string>
	<key>API_KEY</key>
	<string>AIzaSyC9nGJk7j-t46JZD4tQMZWhs_Dnfi6Vf-w</string>
	<key>GCM_SENDER_ID</key>
	<string>458310306952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupie</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-a7d38</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-a7d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458310306952:ios:746566b163a41d67dc233d</string>
</dict>
</plist>